body{
  font-family: sans-serif;
}

h1, h2{
  color: gray;
}

h1{
  text-decoration: underline black;
  text-decoration-thickness: 2px;
}

p {
  color: maroon;
}

p.blueberry{
  color:purple;
}

p.greentea{
  color: green;
}

p.raspberry{
  color:blue;
}
